/* stylelint-disable selector-class-pattern */
.animation-resizable-enter {
  opacity: 0;
  width: 0 !important;
  margin-left: 0 !important;
}

.animation-resizable-enter-active {
  opacity: 1;
  transition: all 1500ms ease-in-out, opacity 1500ms ease-out;
  width: 40% !important;
  margin-left: 10px !important;
}

.animation-resizable-exit-active {
  opacity: 0;
  transition: all 1500ms ease-in-out, opacity 1500ms ease-out;
  width: 0 !important;
  margin-left: 0 !important;
}
