.uu-panelCardHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d7d7d7;
  padding: 10px 20px 9px 20px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.03);
  min-height: 50px;
  background-color: var(--black-7);
}
