.uu-modalTitle {
  display: flex;
  justify-content: space-between;
  background-color: var(--black-7);
  border-bottom: 1px solid #d7d7d7;
  padding: 20px 65px 20px 30px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.03);
  color: var(--black-1);
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  line-height: 24px;
}
