.uu-fieldAddon {
  display: flex;
  &:not(:last-child) {
    margin-right: 25px;
  }
}

.uu-fieldAddonSuffix {
  display: inline-flex;
  align-items: center;
  color: var(--blue-1);
}

.uu-fieldAddonDisabled {
  &:not(:first-child) {
    margin-left: 8px;
  }
}
