/**
 * 1. Хак для обрезания элементов, добавляемых в body, но выходящих за рамки страницы.
 *    Реализовано через подмену body на #root в качестве элемента прокрутки страницы.
 */

body,
#root {
  height: 100vh; /* 1 */
  width: 100vw; /* 1 */
}

body {
  overflow: hidden; /* 1 */
}

#root {
  overflow: auto; /* 1 */
}
