.uu-labeled_direction_row {
  display: flex;
  align-items: center;
}

.uu-labeled_direction_column {
  display: flex;
  flex-direction: column;
}

.uu-labeledLabel_direction_row {
  margin-right: 15px;
}

.uu-labeledLabel_direction_column {
  margin-bottom: 5px;
}
