:root {
  --green-1: #38925c;
  --green-2: #0db14b;
  --green-3: #65c68c;
  --green-4: #e7f7ed;
  --yellow-1: #fec800;
  --yellow-2: #ffa91b;
  --yellow-3: #ffe999;
  --black-1: #231f20;
  --black-2: #4b5750;
  --black-3: #999;
  --black-4: #bfbfbf;
  --black-5: #e2e2e2;
  --black-6: #e7ebe7;
  --black-7: #f9f9f9;
  --red-1: #e67684;
  --red-2: #d94a4a;
  --red-3: #d73737;
  --red-4: #ffd6d6;
  --blue-1: #63a0e7;
  --blue-2: #eff6fd;
  --white-1: #fff;
  --st-green-1: #dcfbe1;
  --st-grey-1: #e2e5e9;
  --st-grey-2: #f4fbf6;
  --st-blue-1: #dee7ff;
  --st-yellow-1: #fff2c6;
  --st-violet-1: #f6deff;
  --st-red-1: #ffb6b6;
  --st-orange-1: #ffd7b3;
  --st-sand-1: #f6edd4;
  --st-aquamarine-1: #c5f5ed;
  --st-brown-1: #e7d6d2;
  --st-blue-2: #c6eaff;
  --st-violet-2: #f1c4fa;
  --st-green-2: #e5f6d4;
  --st-sand-2: #e7e5d2;
  --st-red-2: #fce9e9;
  --st-yellow-2: #ffdf73;
  --st-aquamarine-2: #ddf2eb;
  --st-violet-3: #ebe4ff;
  --st-red-3: #ff9a9a;
  --st-sand-3: #e4d791;
  --st-blue-3: #97d9fc;
  --st-green-3: #c6e8a4;
  --st-sand-4: #cecbb6;
  --pr-green-1: #caee99;
  --pr-green-2: #d1e59c;
  --pr-green-3: #d8dd9f;
  --pr-sand-1: #ded6a1;
  --pr-sand-2: #e4cea3;
  --pr-sand-3: #eac7a6;
  --pr-sand-4: #f1bfa8;
  --pr-red-1: #f7b7ab;
  --pr-red-2: #feafad;
  --pr-red-3: #ff9c99;
}
