@mixin box {
  position: relative;
  display: flex;
  align-items: center;
}

@mixin basic {
  font-size: 13px;
  border: 1px solid var(--black-5);
  box-sizing: border-box;
  border-radius: 5px;
  color: var(--black-2);
  background-color: var(--white-1);
  padding: 7px 10px;
  width: 100%;

  &:focus {
    border-color: var(--black-3);
    outline: none;
  }
  &:disabled {
    background-color: var(--black-7);
  }
}

@mixin disabledWithAddon {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(249, 249, 249, 1) 10px);
}

@mixin errorBorder {
  border-color: var(--red-1);
}

@mixin noResize {
  resize: none;
}

@mixin addon {
  position: absolute;
  right: 10px;
  width: fit-content;
  height: fit-content;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 10px);
  padding-left: 16px;
}

@mixin error {
  position: absolute;
  right: 10px;
}
